# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ML Models
*.joblib
*.pkl
*.h5

# Node
node_modules/
dist/
dist-ssr/
*.local

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
